[submodule "VortexEngine/thirdParty/spdlog"]
	path = Vortex/thirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "VortexEngine/thirdParty/glm"]
	path = Vortex/thirdParty/glm
	url = https://github.com/g-truc/glm